services:
  postgres-demo:
    image: postgres:alpine
    container_name: postgres-demo
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    volumes:
      - pg_data:/var/lib/postgresql/data
 
   
  redis-demo:
    image: redis:latest
    container_name: redis-demo
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"] 
    volumes:
     - redis_data:/data
    restart: unless-stopped



volumes:
  pg_data:
  redis_data:
