services:
  postgres-demo:
    image: postgres:alpine
    container_name: postgres-demo
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
